https://gdcoder.com/sentiment-clas/

Instead of the previosly used "Text data preprocessing" section

import of the libraries that we use for dividing our dataset into the learning and tests sets

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

Å‚adujemy nasz dataset do zmiennej

In [14]:
df = pd.read_csv("IMDB Dataset.csv")

Checking the outlook of the dataset using the head() function

In [15]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

Converting strings into integers.

In [16]:
df.sentiment= df.sentiment.replace(['positive','negative'], [1,0])

Creating a new set with values (x) and labels (y)

In [17]:
y = df.sentiment.reset_index(drop=True,)
x = df.drop('sentiment', axis=1).reset_index(drop=True)

In [18]:
x.head()

                                              review
0  One of the other reviewers has mentioned that ...
1  A wonderful little production. <br /><br />The...
2  I thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...
4  Petter Mattei's "Love in the Time of Money" is...

In [19]:
y.head()

0    1
1    1
2    1
3    0
4    1
Name: sentiment, dtype: int64

Division of the values and labels into series for training and testing for our classificator

In [20]:
trn, val, trn_y, val_y = train_test_split(x,y, test_size=0.2, random_state=50)

In [21]:
len(trn), len(val), len(trn_y), len(val_y)

(40000, 10000, 40000, 10000)